@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
  --highlight-colour: rgba(0,255,255, .4);
  --text-highlight: cyan;
  color: rgba(255,255,255, .9);
  font-family: 'Noto Sans', sans-serif;

}

body {
  /* https://stackoverflow.com/questions/7319552/can-i-fade-in-a-background-image-css-background-image-with-jquery */
  /* background-image: url("https://source.unsplash.com/random/1920x1080/?nature"); */
  overflow: hidden;
  /* background-size: 0 0; */

}

.page {
  background-color: rgba(0,0,0, 0.15);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
}

#content {
  overflow-x: auto;
}

.title {
  text-align: center;
  height: 5%;
  font-size: 40px;
  margin: 0;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.toprow {
display: flex;
}

.topitem {
  flex: 50%;
  text-align: center;
}

.topleft {
  flex: 10%;
  text-align: center;
}


.btn {
  background-color: rgba(0,0,0, 0.0);
  border: none;
  padding: 4px;
  padding-left: 10px;
  font-size: 16px;
  width: 100%;
  text-align: left;
  border-radius: 20px;
}

.btn:hover {
  color: var(--text-highlight);
  background-color: rgba(0,0,0, 0.4);
  backdrop-filter: blur(6px);

}

.btn:focus {
  color: white;
  background-color: var(--highlight-colour);
  border-radius: 20px;
  border-width: 0px;
  outline: none;
}

.row {
  display: flex;
  margin-top: 0px;
  background-color: rgba(0,0,0, 0.5);
  height: 92%;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 20px;
  border-width: 1px;
  border-color: rgba(0,0,0, 0.0);
  border-style: solid;
}

.bmlist {
  overflow-y:auto;
  overflow-x: hidden;
  list-style: none;
  flex: 65%;
  padding: 3px;
}

.history {

  list-style: none;
  flex: 25%;
  padding: 3px;
  overflow: hidden;
}

.bmleft {
  list-style: none;
  flex: auto;
  padding: 3px;
  overflow-y: auto;
}

.bmleft::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  -webkit-text-stroke: 0px black;
  padding-left: 3px;
  padding-right: 3px;
}

a:hover {
  color: white;
  background-color: var(--highlight-colour);
  border-radius: 3px;

}
a:focus {
  color: var(--text-highlight);
  background-color: rgba(255,255,255, .8);
}

.appspace {
  display: flex;
}

.app {
  width: auto;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0,0,0, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(6px);
}

.subtree {
  display: flex;
  flex-direction: row;

}

.sbtn {
  background-color: rgba(0,0,0, 0.4);
  border: none;
  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 16px;
  text-align: center;
  border-radius: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2px;
}

.sbtn:hover {
  color: white;
  background-color: var(--highlight-colour);
}

.sbtn:focus {
  color: white;
  background-color: var(--highlight-colour);
  border-radius: 20px;
  border-width: 0px;
  outline: none;
}

.weatherdisplay {
  font-size: 4rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.weatherspan {
  display: inline-block;
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
